<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alim.snaploader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity,UnusedAttribute">

        <service
            android:name=".Services.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".EPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <receiver
            android:name=".Reciever.LinkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="CrackedURL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Settings.ContentActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="CrackedURL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DownloadsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings.OthersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings.ThemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReceiverActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/ReceiverTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.alim.snaploader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>